// 颜色定义规范
$theme-color = #5bc0bf
$background-color = #efefef
$border-color-lighter = #d2d2d2
$border-color = #e5e5e5
$border-color-dark = #b5b5b5
$font-color = #595757
$font-color-lighter = #9fa0a0
$title-color = #565555
$red = #d23029